<%- include('head.ejs') %> 
<body>
    <%- include('header.ejs') %> 
    <h2>logIn</h2>
    <form class="form-container" action="/login" method="POST">
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email">
            <% if (locals.errors && errors.email) { %>
                <p class="error"><%= errors.email.msg %></p>
            <% } %>
        </div>
        <div>
            <label for="password">password: </label>
            <input type="password" name="password">
            <% if (locals.errors && errors.password) { %>
                <p class="error"><%= errors.password.msg %></p>
            <% } %>
        </div>
        <div class="btn-card">
            <button type="submit">LogIn</button>
        </div>

    </form>
</body>
</html>